body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    overflow: hidden;
}

.main-container {
    display: flex;
}

.main-content-element {
    position: absolute;
    padding: 10px;
    left: 80px;
    width: 25vw;
    min-width: 400px;
    background-color: white;
    z-index: 1;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid lightgray;
}

.main-content-element > h1 {
    font-size: 3rem;
    margin: 15px;
}

.no-results-message {
    text-align: center;
    font-size: 1.5rem;
}
