.listings-container {
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.listings-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.listings-container > div {
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 0.25s;
}

.listings-container > div:hover {
    background-color: lightgray;
}

.listings-container > div > h3 {
    margin: 5px auto;
    font-size: 1.5rem;
}

.contacts > h3 {
    margin: 0;
}

.contacts > ul {

    margin: 5px auto;
}

.button-container {
    display: block;
    text-align: right;
}

.button-container > button {
    all: unset;
    border-radius: 25px;
    border: 1px solid black;
    margin: 10px 5px 5px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    transition: 0.25s;
}

.button-container > button:hover {
    color: white;
    cursor: pointer;
}

.favorite-button:hover {
    background-color: #fa5050;
    border: 1px solid #fa5050;
}

.planned-button:hover {
    background-color: #188038;
    border: 1px solid #188038;
}