.listings-container {
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    word-break: break-word;
}

.listings-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
}

.listing-card {
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: 0.25s;
}

.listing-card:hover {
    background-color: lightgray;
}

.listing-card > h3 {
    margin: 5px auto;
    font-size: 1.5rem;
}

.listing-name {
    margin: 0;
}

.listing-info > ul {
    margin: 5px auto;
}

.isOpen-indicator {
    font-size: 1rem;
}

.button-container {
    text-align: right;
}

.button-container > button {
    all: unset;
    border-radius: 25px;
    border: 1px solid black;
    margin: 10px 5px 5px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    transition: 0.25s;
}

.button-container > button:hover {
    cursor: pointer;
}

.list-button:hover {
    background-color: #278bed;
    border: 1px solid #278bed;
}