.planned-container > h2, .favorites-container > h2 {
    margin: 10px;
}

.planned-container > span, .favorites-container > span {
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 10px;
}