.search-form {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 28px;
    display: flex;
    background-color: white;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.search-form > input {
    all: unset;
    padding: 10px;
}

.search-form > button {
    all: unset;
    transition: 0.25s;
    padding: 10px 20px;
}

.search-form > button > img {
    width: 20px;
}

.search-form > button:hover {
    background-color: #0000004C;
}

@media (max-width: 768px) {
    .search-form {
        font-size: 18px;
    }
}